EDA And Feature Engineering of Google Play Store Dataset

1. Problem statement : Today 1.85 millions different apps available for users to download. Android users have even more from which to choose, with 2.56 millions available throught the Google play store. These apps have come to play a hug role in the way we live today. 
2. Our objective is to find the most popular category,find the app with largest number of installs, the app with largest size etc.
3. Data collection
The data consists of 20 columns and 10841 rows

##### Steps we are going to follow 

1. Data cleaning
2. Exploratory Data Analysis
3. Feature Engineering

1.  1. Data Cleaning

ðŸ“Œ Goal: Make the data readable, consistent, and usable.

In [1]:
'''

# Step 1.1: Load the data
df = pd.read_csv("file.csv")

# Step 1.2: Check structure
print(df.shape)
print(df.info())

# Step 1.3: Handle missing values
df.isnull().sum()
# -> Drop or fill missing values
df = df.dropna()  # or use df.fillna('value')

# Step 1.4: Handle duplicate rows
df = df.drop_duplicates()

# Step 1.5: Convert data types if needed
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Step 1.6: Standardize text
df['Category'] = df['Category'].str.strip().str.lower()

# Step 1.7: Fix inconsistent values
print(df['Category'].unique())  # Spot issues like "electronics", "Electronic"


'''

'\n\n# Step 1.1: Load the data\ndf = pd.read_csv("file.csv")\n\n# Step 1.2: Check structure\nprint(df.shape)\nprint(df.info())\n\n# Step 1.3: Handle missing values\ndf.isnull().sum()\n# -> Drop or fill missing values\ndf = df.dropna()  # or use df.fillna(\'value\')\n\n# Step 1.4: Handle duplicate rows\ndf = df.drop_duplicates()\n\n# Step 1.5: Convert data types if needed\ndf[\'Date\'] = pd.to_datetime(df[\'Date\'], errors=\'coerce\')\n\n# Step 1.6: Standardize text\ndf[\'Category\'] = df[\'Category\'].str.strip().str.lower()\n\n# Step 1.7: Fix inconsistent values\nprint(df[\'Category\'].unique())  # Spot issues like "electronics", "Electronic"\n\n\n'

 2. Exploratory Data Analysis (EDA)

ðŸ“Œ Goal: Understand your data â€” find trends, patterns, outliers, and relationships.

In [2]:
''' 

# Step 2.1: Basic stats
df.describe()
df['Price'].value_counts()
df['Category'].nunique()

# Step 2.2: Univariate Analysis (1 column at a time)
df['Price'].hist()                # For numerical
df['Category'].value_counts().plot(kind='bar')  # For categorical

# Step 2.3: Bivariate Analysis (2 columns)
sns.boxplot(x='Category', y='Price', data=df)
sns.heatmap(df.corr(), annot=True)  # Correlation map

# Step 2.4: Outlier detection
sns.boxplot(df['Price'])

# Step 2.5: Class imbalance
df['Target'].value_counts(normalize=True)



'''

" \n\n# Step 2.1: Basic stats\ndf.describe()\ndf['Price'].value_counts()\ndf['Category'].nunique()\n\n# Step 2.2: Univariate Analysis (1 column at a time)\ndf['Price'].hist()                # For numerical\ndf['Category'].value_counts().plot(kind='bar')  # For categorical\n\n# Step 2.3: Bivariate Analysis (2 columns)\nsns.boxplot(x='Category', y='Price', data=df)\nsns.heatmap(df.corr(), annot=True)  # Correlation map\n\n# Step 2.4: Outlier detection\nsns.boxplot(df['Price'])\n\n# Step 2.5: Class imbalance\ndf['Target'].value_counts(normalize=True)\n\n\n\n"

3. Feature Engineering

ðŸ“Œ Goal: Create smart new columns that make models better!

In [3]:
''' 

# Step 3.1: Date/Time features
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Day_of_week'] = df['Date'].dt.dayofweek

# Step 3.2: Text to numbers (encoding)
df['Gender_encoded'] = df['Gender'].map({'male': 0, 'female': 1})

# Or use OneHotEncoder
df = pd.get_dummies(df, columns=['Category'], drop_first=True)

# Step 3.3: Binning
df['Price_range'] = pd.cut(df['Price'], bins=[0, 100, 500, 1000, np.inf], labels=['Low', 'Medium', 'High', 'Premium'])

# Step 3.4: Interaction Features
df['Revenue'] = df['Price'] * df['Quantity']

# Step 3.5: Handle skewed data
df['Log_Price'] = np.log1p(df['Price'])  # if Price has outliers or skewness

# Step 3.6: Scaling (before model training)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df[['Price', 'Quantity']] = scaler.fit_transform(df[['Price', 'Quantity']])


'''

" \n\n# Step 3.1: Date/Time features\ndf['Year'] = df['Date'].dt.year\ndf['Month'] = df['Date'].dt.month\ndf['Day'] = df['Date'].dt.day\ndf['Day_of_week'] = df['Date'].dt.dayofweek\n\n# Step 3.2: Text to numbers (encoding)\ndf['Gender_encoded'] = df['Gender'].map({'male': 0, 'female': 1})\n\n# Or use OneHotEncoder\ndf = pd.get_dummies(df, columns=['Category'], drop_first=True)\n\n# Step 3.3: Binning\ndf['Price_range'] = pd.cut(df['Price'], bins=[0, 100, 500, 1000, np.inf], labels=['Low', 'Medium', 'High', 'Premium'])\n\n# Step 3.4: Interaction Features\ndf['Revenue'] = df['Price'] * df['Quantity']\n\n# Step 3.5: Handle skewed data\ndf['Log_Price'] = np.log1p(df['Price'])  # if Price has outliers or skewness\n\n# Step 3.6: Scaling (before model training)\nfrom sklearn.preprocessing import StandardScaler\nscaler = StandardScaler()\ndf[['Price', 'Quantity']] = scaler.fit_transform(df[['Price', 'Quantity']])\n\n\n"

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import warnings

warnings.filterwarnings("ignore")
%matplotlib inline

In [5]:
df=pd.read_csv('googleplaystore.csv')
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [7]:
## stastical summary of dataset
df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

##### Insights and Observation
1. Identifying missing values in dataset
2. Handling missing valus

In [8]:
# Identify missing values 
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [9]:
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [10]:
df['Reviews'].unique()

array(['159', '967', '87510', ..., '603', '1195', '398307'], dtype=object)

In [11]:
df['Reviews'].str.isnumeric().sum()

10840

In [12]:
df[~df['Reviews'].str.isnumeric()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [13]:
df['Reviews'].astype(int)

ValueError: invalid literal for int() with base 10: '3.0M'

In [16]:
df_copy=df.copy()

In [17]:
df_copy=df_copy.drop(df_copy.index[10472])

In [18]:
df_copy[~df_copy['Reviews'].str.isnumeric()]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [19]:
## Convert Review Datatype to int 
df_copy['Reviews']=df_copy['Reviews'].astype(int)
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10840 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  int32
 4   Size            10840 non-null  object
 5   Installs        10840 non-null  object
 6   Type            10839 non-null  object
 7   Price           10840 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), int32(1), object(11)
memory usage: 1.1+ MB

In [20]:
df_copy['Size'].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '470k',
       '226k', '240k', '89k', '234k', '257k', '861k', '467k', '157k',
       '44k', '676k', '67k', '552k', '885k', '1020k', '582k', '619k'],
      dtype=object)

In [30]:
df_copy['Size'].str.replace('M','000') ##This line creates a modified version temporarily, but it doesn't save the result in the DataFrame.
df_copy

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Size_in_thousands
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,19000.0
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,14000.0
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,8700.0
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,25000.0
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,2800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up,53000.0
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up,3600.0
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up,9500.0
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device,NaN
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device,19000.0

In [32]:
df_copy['Size_in_thousands'] = (
    df_copy['Size']
    .apply(lambda x: str(x).strip().replace(',', ''))  # Clean string
    .apply(lambda x: float(x.replace('M', '')) * 1000 if 'M' in x
           else float(x.replace('k', '')) if 'k' in x
           else np.nan)
)
## df_copy['Size_in_thousands']=df_copy['Size_in_thousands'].astype(int)
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10840 entries, 0 to 10840
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   App                10840 non-null  object
 1   Category           10840 non-null  object
 2   Rating             9366 non-null   float64
 3   Reviews            10840 non-null  int32
 4   Size               10840 non-null  object
 5   Installs           10840 non-null  object
 6   Type               10839 non-null  object
 7   Price              10840 non-null  object
 8   Content Rating     10840 non-null  object
 9   Genres             10840 non-null  object
 10  Last Updated       10840 non-null  object
 11  Current Ver        10832 non-null  object
 12  Android Ver        10838 non-null  object
 13  Size_in_thousands  9145 non-null   float64
dtypes: float64(2), int32(1), object(11)
memory usage: 1.2+ MB

In [33]:
''' 
## Another method ## 

df_copy['Size]= df_copy['Size].str.replace('M','000')
df_copy['Size]= df_copy['Size].str.replace('k','')
df_copy['Size]= df_copy['Size].str.replace('Varies with device',np.nan)



'''

" \n## Another method ## \n\ndf_copy['Size]= df_copy['Size].str.replace('M','000')\ndf_copy['Size]= df_copy['Size].str.replace('k','')\ndf_copy['Size]= df_copy['Size].str.replace('Varies with device',np.nan)\n\n\n\n"

In [34]:
df_copy.describe()

            Rating       Reviews  Size_in_thousands
count  9366.000000  1.084000e+04        9145.000000
mean      4.191757  4.441529e+05       21516.529524
std       0.515219  2.927761e+06       22588.747934
min       1.000000  0.000000e+00           8.500000
25%       4.000000  3.800000e+01        4900.000000
50%       4.300000  2.094000e+03       13000.000000
75%       4.500000  5.477550e+04       30000.000000
max       5.000000  7.815831e+07      100000.000000

In [38]:
df_copy['Installs'].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0'], dtype=object)

In [37]:
df_copy['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', '$1.20', '$1.04'], dtype=object)

In [39]:
chars_to_remove = [',','+','$']
columns_to_clean = ['Installs','Price']

for char in chars_to_remove:
    for column in columns_to_clean:
        df_copy[column]= df_copy[column].str.replace(char,'')

In [42]:
df_copy['Installs'].unique()

array(['10000', '500000', '5000000', '50000000', '100000', '50000',
       '1000000', '10000000', '5000', '100000000', '1000000000', '1000',
       '500000000', '50', '100', '500', '10', '1', '5', '0'], dtype=object)

In [43]:
df_copy['Price'].unique()

array(['0', '4.99', '3.99', '6.99', '1.49', '2.99', '7.99', '5.99',
       '3.49', '1.99', '9.99', '7.49', '0.99', '9.00', '5.49', '10.00',
       '24.99', '11.99', '79.99', '16.99', '14.99', '1.00', '29.99',
       '12.99', '2.49', '10.99', '1.50', '19.99', '15.99', '33.99',
       '74.99', '39.99', '3.95', '4.49', '1.70', '8.99', '2.00', '3.88',
       '25.99', '399.99', '17.99', '400.00', '3.02', '1.76', '4.84',
       '4.77', '1.61', '2.50', '1.59', '6.49', '1.29', '5.00', '13.99',
       '299.99', '379.99', '37.99', '18.99', '389.99', '19.90', '8.49',
       '1.75', '14.00', '4.85', '46.99', '109.99', '154.99', '3.08',
       '2.59', '4.80', '1.96', '19.40', '3.90', '4.59', '15.46', '3.04',
       '4.29', '2.60', '3.28', '4.60', '28.99', '2.95', '2.90', '1.97',
       '200.00', '89.99', '2.56', '30.99', '3.61', '394.99', '1.26',
       '1.20', '1.04'], dtype=object)

In [45]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10840 entries, 0 to 10840
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   App                10840 non-null  object
 1   Category           10840 non-null  object
 2   Rating             9366 non-null   float64
 3   Reviews            10840 non-null  int32
 4   Size               10840 non-null  object
 5   Installs           10840 non-null  object
 6   Type               10839 non-null  object
 7   Price              10840 non-null  object
 8   Content Rating     10840 non-null  object
 9   Genres             10840 non-null  object
 10  Last Updated       10840 non-null  object
 11  Current Ver        10832 non-null  object
 12  Android Ver        10838 non-null  object
 13  Size_in_thousands  9145 non-null   float64
dtypes: float64(2), int32(1), object(11)
memory usage: 1.2+ MB

In [47]:
df_copy['Installs']=df_copy['Installs'].astype(int)
df_copy['Price'] = df_copy['Price'].astype(float)

In [48]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10840 entries, 0 to 10840
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   App                10840 non-null  object
 1   Category           10840 non-null  object
 2   Rating             9366 non-null   float64
 3   Reviews            10840 non-null  int32
 4   Size               10840 non-null  object
 5   Installs           10840 non-null  int32
 6   Type               10839 non-null  object
 7   Price              10840 non-null  float64
 8   Content Rating     10840 non-null  object
 9   Genres             10840 non-null  object
 10  Last Updated       10840 non-null  object
 11  Current Ver        10832 non-null  object
 12  Android Ver        10838 non-null  object
 13  Size_in_thousands  9145 non-null   float64
dtypes: float64(3), int32(2), object(9)
memory usage: 1.2+ MB

In [49]:
## Handling last update feature 
df_copy['Last Updated'].unique()

array(['January 7, 2018', 'January 15, 2018', 'August 1, 2018', ...,
       'January 20, 2014', 'February 16, 2014', 'March 23, 2014'],
      dtype=object)

In [51]:
## separating last update column with datetime feature 

df_copy['Last Updated'] = pd.to_datetime(df_copy['Last Updated'])
df_copy['Last Updated']

0       2018-01-07
1       2018-01-15
2       2018-08-01
3       2018-06-08
4       2018-06-20
           ...
10836   2017-07-25
10837   2018-07-06
10838   2017-01-20
10839   2015-01-19
10840   2018-07-25
Name: Last Updated, Length: 10840, dtype: datetime64[ns]

In [52]:
df_copy['Day'] = df_copy['Last Updated'].dt.day
df_copy['Month'] = df_copy['Last Updated'].dt.month 
df_copy['Year'] = df_copy['Last Updated'].dt.year

In [53]:
df_copy.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Size_in_thousands,Day,Month,Year
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,10000,Free,0.0,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3 and up,19000.0,7,1,2018
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,500000,Free,0.0,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up,14000.0,15,1,2018
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,5000000,Free,0.0,Everyone,Art & Design,2018-08-01,1.2.4,4.0.3 and up,8700.0,1,8,2018
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,50000000,Free,0.0,Teen,Art & Design,2018-06-08,Varies with device,4.2 and up,25000.0,8,6,2018
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,100000,Free,0.0,Everyone,Art & Design;Creativity,2018-06-20,1.1,4.4 and up,2800.0,20,6,2018

In [55]:
df_copy.to_csv('cleaned_googleplaystore_data.csv')

#### EDA

In [65]:
df_copy[df_copy.duplicated('App')]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Size_in_thousands,Day,Month,Year
229,Quick PDF Scanner + OCR FREE,BUSINESS,4.2,80805,Varies with device,5000000,Free,0.0,Everyone,Business,2018-02-26,Varies with device,4.0.3 and up,NaN,26,2,2018
236,Box,BUSINESS,4.2,159872,Varies with device,10000000,Free,0.0,Everyone,Business,2018-07-31,Varies with device,Varies with device,NaN,31,7,2018
239,Google My Business,BUSINESS,4.4,70991,Varies with device,5000000,Free,0.0,Everyone,Business,2018-07-24,2.19.0.204537701,4.4 and up,NaN,24,7,2018
256,ZOOM Cloud Meetings,BUSINESS,4.4,31614,37M,10000000,Free,0.0,Everyone,Business,2018-07-20,4.1.28165.0716,4.0 and up,37000.0,20,7,2018
261,join.me - Simple Meetings,BUSINESS,4.0,6989,Varies with device,1000000,Free,0.0,Everyone,Business,2018-07-16,4.3.0.508,4.4 and up,NaN,16,7,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10715,FarmersOnly Dating,DATING,3.0,1145,1.4M,100000,Free,0.0,Mature 17+,Dating,2016-02-25,2.2,4.0 and up,1400.0,25,2,2016
10720,Firefox Focus: The privacy browser,COMMUNICATION,4.4,36981,4.0M,1000000,Free,0.0,Everyone,Communication,2018-07-06,5.2,5.0 and up,4000.0,6,7,2018
10730,FP Notebook,MEDICAL,4.5,410,60M,50000,Free,0.0,Everyone,Medical,2018-03-24,2.1.0.372,4.4 and up,60000.0,24,3,2018
10753,Slickdeals: Coupons & Shopping,SHOPPING,4.5,33599,12M,1000000,Free,0.0,Everyone,Shopping,2018-07-30,3.9,4.4 and up,12000.0,30,7,2018
10768,AAFP,MEDICAL,3.8,63,24M,10000,Free,0.0,Everyone,Medical,2018-06-22,2.3.1,5.0 and up,24000.0,22,6,2018