##### Project Name : Algerian Forest Fire Dataset EDA , FE &Temperature Prediction using Linear Regression,Ridge,Lasso,Elastic Net .

1) Problem statement:
This dataset comprises of Algerian Forest Fire Dataset taken from UCI .
Link of the dataset is as follows :- https://archive.ics.uci.edu/dataset/547/algerian+forest+fires+dataset

2) Dataset information :
   This dataset includes 244 instances that regroup a data of 2 regions of Algeria,namely the Brjajia region located in the northeast of Algeria and the Sidi Bel-abbes region located in the northwest of Algeria. 122 instances for each region .

   The Period is from June 2012 to September 2012.The Dataset includes 11 attributes and 1 output attribute i.e.Temperature The data consists of 14 column and 246 rows.

3) Additional Variable Information

1. Date : (DD/MM/YYYY) Day, month ('june' to 'september'), year (2012)
Weather data observations 
2. Temp : temperature noon (temperature max)  in Celsius degrees: 22 to 42
3. RH : Relative Humidity in %: 21 to 90 
4. Ws :Wind speed in km/h: 6 to 29 
5. Rain: total day in mm: 0 to 16.8
FWI Components  
6. Fine Fuel Moisture Code (FFMC) index from the FWI system: 28.6 to 92.5 
7. Duff Moisture Code (DMC) index from the FWI system: 1.1 to 65.9 
8. Drought Code (DC) index from the FWI system:  7 to 220.4
9. Initial Spread Index (ISI) index from the FWI system: 0 to 18.5 
10. Buildup Index (BUI) index from the FWI system: 1.1 to 68
11. Fire Weather Index (FWI) Index: 0 to 31.1
12. Classes: two classes, namely fire and not fire

In [1]:
## Importing all the necessary libraries/ modules / prerequisites 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
## Importing the dataset or loading the dataset

dataset = pd.read_csv('Algerian_forest_fires_dataset_UPDATE.csv')
dataset.head(10) # Displaying the first 10 rows of the dataset

                                                                     Bejaia Region Dataset
day month year Temperature  RH  Ws Rain  FFMC DMC  DC   ISI BUI  FWI              Classes
01  06    2012 29          57  18  0     65.7 3.4  7.6  1.3 3.4  0.5            not fire
02  06    2012 29          61  13  1.3   64.4 4.1  7.6  1   3.9  0.4            not fire
03  06    2012 26          82  22  13.1  47.1 2.5  7.1  0.3 2.7  0.1            not fire
04  06    2012 25          89  13  2.5   28.6 1.3  6.9  0   1.7  0              not fire
05  06    2012 27          77  16  0     64.8 3    14.2 1.2 3.9  0.5            not fire
06  06    2012 31          67  14  0     82.6 5.8  22.2 3.1 7    2.5                fire
07  06    2012 33          54  13  0     88.2 9.9  30.5 6.4 10.9 7.2                fire
08  06    2012 30          73  15  0     86.6 12.1 38.3 5.6 13.5 7.1                fire
09  06    2012 25          88  13  0.2   52.9 7.9  38.8 0.4 10.5 0.3            not fire

In [4]:
## lets check the basic information/shape/description of the dataset

dataset.info() # Information about the dataset

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 247 entries, ('day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC', 'DMC', 'DC', 'ISI', 'BUI', 'FWI') to ('30', '09', '2012', '24', '64', '15', '0.2', '67.3', '3.8', '16.5', '1.2', '4.8', '0.5')
Data columns (total 1 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Bejaia Region Dataset   245 non-null    object
dtypes: object(1)
memory usage: 49.3+ KB

In [6]:
dataset = pd.read_csv('Algerian_forest_fires_dataset_UPDATE.csv',header=1)
dataset.head(5) # Displaying the first 5 rows of the dataset

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire

In [7]:
dataset.info() # Information about the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          246 non-null    object
 1   month        245 non-null    object
 2   year         245 non-null    object
 3   Temperature  245 non-null    object
 4    RH          245 non-null    object
 5    Ws          245 non-null    object
 6   Rain         245 non-null    object
 7   FFMC         245 non-null    object
 8   DMC          245 non-null    object
 9   DC           245 non-null    object
 10  ISI          245 non-null    object
 11  BUI          245 non-null    object
 12  FWI          245 non-null    object
 13  Classes      244 non-null    object
dtypes: object(14)
memory usage: 27.0+ KB

In [ ]:
dataset.describe() # Describing the dataset

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
count,246,245,245,245,245,245,245,245,245,245,245,245,245,244
unique,33,5,2,20,63,19,40,174,167,199,107,175,128,9
top,01,07,2012,35,64,14,0,88.9,7.9,8,1.1,3,0.4,fire
freq,8,62,244,29,10,43,133,8,5,5,8,5,12,131

In [12]:
dataset.shape # Shape of the dataset

(246, 14)

In [13]:
dataset.columns # Columns of the dataset

Index(['day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes  '],
      dtype='object')

#### Data cleaning

In [ ]:
## missing values in the dataset
dataset.isnull().sum() # Checking for missing values in the dataset

day            0
month          1
year           1
Temperature    1
 RH            1
 Ws            1
Rain           1
FFMC           1
DMC            1
DC             1
ISI            1
BUI            1
FWI            1
Classes        2
dtype: int64

In [17]:
dataset[dataset.isnull().any(axis=1)] # Displaying the rows with missing values

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
122,Sidi-Bel Abbes Region Dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,14,07,2012,37,37,18,0.2,88.9,12.9,14.6 9,12.5,10.4,fire,NaN

Your Dataset contains two different region's data (i.e bejaia, sidi-bel abbes region) let's seperate the with region column with two index labels to identify two regions 

0 : "bejaia region Dataset"

1 : "sidi-bel abbes region Dataset"

In [18]:
dataset.loc[:122,"Region"] = 0
dataset.loc[122:,"Region"] = 1

In [19]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          246 non-null    object
 1   month        245 non-null    object
 2   year         245 non-null    object
 3   Temperature  245 non-null    object
 4    RH          245 non-null    object
 5    Ws          245 non-null    object
 6   Rain         245 non-null    object
 7   FFMC         245 non-null    object
 8   DMC          245 non-null    object
 9   DC           245 non-null    object
 10  ISI          245 non-null    object
 11  BUI          245 non-null    object
 12  FWI          245 non-null    object
 13  Classes      244 non-null    object
 14  Region       246 non-null    float64
dtypes: float64(1), object(14)
memory usage: 29.0+ KB

In [24]:
dataset['region'] = dataset['Region'].astype(int) # Converting the 'Region' column to integer type to save memory
df = dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          246 non-null    object
 1   month        245 non-null    object
 2   year         245 non-null    object
 3   Temperature  245 non-null    object
 4    RH          245 non-null    object
 5    Ws          245 non-null    object
 6   Rain         245 non-null    object
 7   FFMC         245 non-null    object
 8   DMC          245 non-null    object
 9   DC           245 non-null    object
 10  ISI          245 non-null    object
 11  BUI          245 non-null    object
 12  FWI          245 non-null    object
 13  Classes      244 non-null    object
 14  Region       246 non-null    float64
 15  region       246 non-null    int32
dtypes: float64(1), int32(1), object(14)
memory usage: 29.9+ KB

In [25]:
df.isnull().sum()

day            0
month          1
year           1
Temperature    1
 RH            1
 Ws            1
Rain           1
FFMC           1
DMC            1
DC             1
ISI            1
BUI            1
FWI            1
Classes        2
Region         0
region         0
dtype: int64