#### Data Manipulation and Analysis with Pandas
- Data Manipulation and analysis are key tasks in any data science project. 
- Pandas provides a wide range of functions for data manipulation and analysis, making it easier to clean, transform, and extract insights from data.

In [20]:
## Reading Datafile 

import pandas as pd 
df=pd.read_csv('Raw_Sales_data.csv')
df

          Date     Category  Values   Product   Sales Region
0   2024-03-26    Groceries   777.0     Shirt  4538.0  North
1   2024-09-09       Sports    76.0      Sofa     NaN   West
2   2024-07-18     Clothing    22.0     Apple  6787.0  South
3   2024-12-20  Electronics     NaN    Laptop     NaN   West
4   2024-09-19     Clothing   649.0     Apple     NaN  North
5   2024-04-16       Sports   953.0      Sofa     NaN  North
6   2024-03-05  Electronics   580.0      Sofa     NaN  South
7   2024-03-14    Furniture     NaN     Shirt     NaN  South
8   2024-03-29    Furniture     NaN  Football   744.0   East
9   2024-03-24     Clothing     NaN     Shirt  7450.0   East
10  2024-12-21     Clothing     NaN  Football  7821.0  North
11  2024-04-30  Electronics     NaN  Football  3766.0   East
12  2024-06-02    Groceries    10.0      Sofa     NaN  North
13  2024-04-25    Groceries     NaN     Apple     NaN   West
14  2024-04-08    Groceries     NaN    Laptop  2333.0   East
15  2024-12-13     Clothing   144.0    Laptop  1111.0   East
16  2024-03-22    Groceries   853.0  Football  6643.0  North
17  2024-07-27    Furniture   430.0     Apple     NaN   West
18  2024-04-09       Sports     NaN     Shirt     NaN  South
19  2024-01-05    Furniture   250.0    Laptop     NaN   East
20  2024-05-17  Electronics    41.0      Sofa     NaN   West
21  2024-01-05    Groceries     NaN     Shirt     NaN  South
22  2024-03-15    Furniture     NaN      Sofa     NaN  South
23  2024-04-24    Furniture   995.0      Sofa  8856.0   East
24  2024-06-21       Sports     NaN    Laptop  8922.0  North
25  2024-09-20     Clothing     NaN    Laptop     NaN  South
26  2024-04-22    Groceries   620.0  Football  7882.0  South
27  2024-08-25       Sports   847.0    Laptop     NaN   East
28  2024-07-13     Clothing     NaN      Sofa  8934.0   East
29  2024-11-02  Electronics   993.0    Laptop  1054.0   East
30  2024-12-27       Sports   145.0     Shirt     NaN  South
31  2024-08-13  Electronics   453.0    Laptop  6228.0  South
32  2024-10-17     Clothing     NaN     Apple     NaN  South
33  2024-01-25       Sports   533.0  Football     NaN   East
34  2024-12-28  Electronics     NaN     Apple     NaN  South
35  2024-04-20       Sports   763.0     Apple  3007.0   East
36  2024-03-26     Clothing   917.0     Apple     NaN  South
37  2024-07-20    Furniture     NaN  Football     NaN  North
38  2024-11-11    Groceries     NaN    Laptop  5963.0   West
39  2024-01-30       Sports   699.0     Apple     NaN   East
40  2024-07-15     Clothing   982.0     Shirt  2715.0  South
41  2024-03-27     Clothing     NaN  Football  9874.0   West
42  2024-04-01     Clothing     NaN      Sofa  4313.0  South
43  2024-12-13    Furniture     NaN     Apple  2315.0   East
44  2024-07-06       Sports     NaN     Apple  6348.0  North
45  2024-01-19    Furniture     NaN  Football  9893.0  South
46  2024-09-22  Electronics   580.0    Laptop     NaN   East
47  2024-05-18  Electronics   571.0     Shirt  8830.0  South
48  2024-07-29       Sports     NaN    Laptop  7773.0   East
49  2024-10-17  Electronics   374.0     Shirt     NaN  North

In [21]:
# describe insight of mean,std,min of numerical values of column

df.describe()

           Values        Sales
count   26.000000    25.000000
mean   548.346154  5764.000000
std    329.973325  2944.872663
min     10.000000   744.000000
25%    281.000000  3007.000000
50%    580.000000  6348.000000
75%    829.500000  7882.000000
max    995.000000  9893.000000

In [22]:
## Know all the data types
df.dtypes # object - string

Date         object
Category     object
Values      float64
Product      object
Sales       float64
Region       object
dtype: object

In [23]:
## Handling missing values 

df.isnull() #False - No missing values #True - value is missing

     Date  Category  Values  Product  Sales  Region
0   False     False   False    False  False   False
1   False     False   False    False   True   False
2   False     False   False    False  False   False
3   False     False    True    False   True   False
4   False     False   False    False   True   False
5   False     False   False    False   True   False
6   False     False   False    False   True   False
7   False     False    True    False   True   False
8   False     False    True    False  False   False
9   False     False    True    False  False   False
10  False     False    True    False  False   False
11  False     False    True    False  False   False
12  False     False   False    False   True   False
13  False     False    True    False   True   False
14  False     False    True    False  False   False
15  False     False   False    False  False   False
16  False     False   False    False  False   False
17  False     False   False    False   True   False
18  False     False    True    False   True   False
19  False     False   False    False   True   False
20  False     False   False    False   True   False
21  False     False    True    False   True   False
22  False     False    True    False   True   False
23  False     False   False    False  False   False
24  False     False    True    False  False   False
25  False     False    True    False   True   False
26  False     False   False    False  False   False
27  False     False   False    False   True   False
28  False     False    True    False  False   False
29  False     False   False    False  False   False
30  False     False   False    False   True   False
31  False     False   False    False  False   False
32  False     False    True    False   True   False
33  False     False   False    False   True   False
34  False     False    True    False   True   False
35  False     False   False    False  False   False
36  False     False   False    False   True   False
37  False     False    True    False   True   False
38  False     False    True    False  False   False
39  False     False   False    False   True   False
40  False     False   False    False  False   False
41  False     False    True    False  False   False
42  False     False    True    False  False   False
43  False     False    True    False  False   False
44  False     False    True    False  False   False
45  False     False    True    False  False   False
46  False     False   False    False   True   False
47  False     False   False    False  False   False
48  False     False    True    False  False   False
49  False     False   False    False   True   False

In [24]:
## Handling missing values 
df.isnull().sum()

Date         0
Category     0
Values      24
Product      0
Sales       25
Region       0
dtype: int64

In [25]:
## Handling missing values
df.isnull().any()

Date        False
Category    False
Values       True
Product     False
Sales        True
Region      False
dtype: bool

In [7]:
# Filling missing values with fillna
df_filled=df.fillna(0)
df_filled.isnull().sum()

Date        0
Category    0
Values      0
Product     0
Sales       0
Region      0
dtype: int64

In [8]:
# Filling missing values with mean of the column
df_filled['Sales_fillna'] = df['Sales'].fillna(df['Sales'].mean())
df_filled

          Date     Category  Values   Product   Sales Region  Sales_fillna
0   2024-03-26    Groceries   777.0     Shirt  4538.0  North        4538.0
1   2024-09-09       Sports    76.0      Sofa     0.0   West        5764.0
2   2024-07-18     Clothing    22.0     Apple  6787.0  South        6787.0
3   2024-12-20  Electronics     0.0    Laptop     0.0   West        5764.0
4   2024-09-19     Clothing   649.0     Apple     0.0  North        5764.0
5   2024-04-16       Sports   953.0      Sofa     0.0  North        5764.0
6   2024-03-05  Electronics   580.0      Sofa     0.0  South        5764.0
7   2024-03-14    Furniture     0.0     Shirt     0.0  South        5764.0
8   2024-03-29    Furniture     0.0  Football   744.0   East         744.0
9   2024-03-24     Clothing     0.0     Shirt  7450.0   East        7450.0
10  2024-12-21     Clothing     0.0  Football  7821.0  North        7821.0
11  2024-04-30  Electronics     0.0  Football  3766.0   East        3766.0
12  2024-06-02    Groceries    10.0      Sofa     0.0  North        5764.0
13  2024-04-25    Groceries     0.0     Apple     0.0   West        5764.0
14  2024-04-08    Groceries     0.0    Laptop  2333.0   East        2333.0
15  2024-12-13     Clothing   144.0    Laptop  1111.0   East        1111.0
16  2024-03-22    Groceries   853.0  Football  6643.0  North        6643.0
17  2024-07-27    Furniture   430.0     Apple     0.0   West        5764.0
18  2024-04-09       Sports     0.0     Shirt     0.0  South        5764.0
19  2024-01-05    Furniture   250.0    Laptop     0.0   East        5764.0
20  2024-05-17  Electronics    41.0      Sofa     0.0   West        5764.0
21  2024-01-05    Groceries     0.0     Shirt     0.0  South        5764.0
22  2024-03-15    Furniture     0.0      Sofa     0.0  South        5764.0
23  2024-04-24    Furniture   995.0      Sofa  8856.0   East        8856.0
24  2024-06-21       Sports     0.0    Laptop  8922.0  North        8922.0
25  2024-09-20     Clothing     0.0    Laptop     0.0  South        5764.0
26  2024-04-22    Groceries   620.0  Football  7882.0  South        7882.0
27  2024-08-25       Sports   847.0    Laptop     0.0   East        5764.0
28  2024-07-13     Clothing     0.0      Sofa  8934.0   East        8934.0
29  2024-11-02  Electronics   993.0    Laptop  1054.0   East        1054.0
30  2024-12-27       Sports   145.0     Shirt     0.0  South        5764.0
31  2024-08-13  Electronics   453.0    Laptop  6228.0  South        6228.0
32  2024-10-17     Clothing     0.0     Apple     0.0  South        5764.0
33  2024-01-25       Sports   533.0  Football     0.0   East        5764.0
34  2024-12-28  Electronics     0.0     Apple     0.0  South        5764.0
35  2024-04-20       Sports   763.0     Apple  3007.0   East        3007.0
36  2024-03-26     Clothing   917.0     Apple     0.0  South        5764.0
37  2024-07-20    Furniture     0.0  Football     0.0  North        5764.0
38  2024-11-11    Groceries     0.0    Laptop  5963.0   West        5963.0
39  2024-01-30       Sports   699.0     Apple     0.0   East        5764.0
40  2024-07-15     Clothing   982.0     Shirt  2715.0  South        2715.0
41  2024-03-27     Clothing     0.0  Football  9874.0   West        9874.0
42  2024-04-01     Clothing     0.0      Sofa  4313.0  South        4313.0
43  2024-12-13    Furniture     0.0     Apple  2315.0   East        2315.0
44  2024-07-06       Sports     0.0     Apple  6348.0  North        6348.0
45  2024-01-19    Furniture     0.0  Football  9893.0  South        9893.0
46  2024-09-22  Electronics   580.0    Laptop     0.0   East        5764.0
47  2024-05-18  Electronics   571.0     Shirt  8830.0  South        8830.0
48  2024-07-29       Sports     0.0    Laptop  7773.0   East        7773.0
49  2024-10-17  Electronics   374.0     Shirt     0.0  North        5764.0

In [9]:
df_filled.dtypes

Date             object
Category         object
Values          float64
Product          object
Sales           float64
Region           object
Sales_fillna    float64
dtype: object

In [14]:
df.filled=df_filled.rename(columns={'Date':'Sales Data'})
df_filled

,Date,Category,Values,Product,Sales,Region,Sales_fillna,Value_new
0,2024-03-26,Groceries,777.0,Shirt,4538.0,North,4538.0,777.0
1,2024-09-09,Sports,76.0,Sofa,0.0,West,5764.0,76.0
2,2024-07-18,Clothing,22.0,Apple,6787.0,South,6787.0,22.0
3,2024-12-20,Electronics,0.0,Laptop,0.0,West,5764.0,0.0
4,2024-09-19,Clothing,649.0,Apple,0.0,North,5764.0,649.0
5,2024-04-16,Sports,953.0,Sofa,0.0,North,5764.0,953.0
6,2024-03-05,Electronics,580.0,Sofa,0.0,South,5764.0,580.0
7,2024-03-14,Furniture,0.0,Shirt,0.0,South,5764.0,0.0
8,2024-03-29,Furniture,0.0,Football,744.0,East,744.0,0.0
9,2024-03-24,Clothing,0.0,Shirt,7450.0,East,7450.0,0.0
10,2024-12-21,Clothing,0.0,Football,7821.0,North,7821.0,0.0
11,2024-04-30,Electronics,0.0,Football,3766.0,East,3766.0,0.0
12,2024-06-02,Groceries,10.0,Sofa,0.0,North,5764.0,10.0
13,2024-04-25,Groceries,0.0,Apple,0.0,West,5764.0,0.0
14,2024-04-08,Groceries,0.0,Laptop,2333.0,East,2333.0,0.0
15,2024-12-13,Clothing,144.0,Laptop,1111.0,East,1111.0,144.0
16,2024-03-22,Groceries,853.0,Football,6643.0,North,6643.0,853.0
17,2024-07-27,Furniture,430.0,Apple,0.0,West,5764.0,430.0
18,2024-04-09,Sports,0.0,Shirt,0.0,South,5764.0,0.0
19,2024-01-05,Furniture,250.0,Laptop,0.0,East,5764.0,250.0
20,2024-05-17,Electronics,41.0,Sofa,0.0,West,5764.0,41.0
21,2024-01-05,Groceries,0.0,Shirt,0.0,South,5764.0,0.0
22,2024-03-15,Furniture,0.0,Sofa,0.0,South,5764.0,0.0
23,2024-04-24,Furniture,995.0,Sofa,8856.0,East,8856.0,995.0
24,2024-06-21,Sports,0.0,Laptop,8922.0,North,8922.0,0.0
25,2024-09-20,Clothing,0.0,Laptop,0.0,South,5764.0,0.0
26,2024-04-22,Groceries,620.0,Football,7882.0,South,7882.0,620.0
27,2024-08-25,Sports,847.0,Laptop,0.0,East,5764.0,847.0
28,2024-07-13,Clothing,0.0,Sofa,8934.0,East,8934.0,0.0
29,2024-11-02,Electronics,993.0,Laptop,1054.0,East,1054.0,993.0
30,2024-12-27,Sports,145.0,Shirt,0.0,South,5764.0,145.0
31,2024-08-13,Electronics,453.0,Laptop,6228.0,South,6228.0,453.0
32,2024-10-17,Clothing,0.0,Apple,0.0,South,5764.0,0.0
33,2024-01-25,Sports,533.0,Football,0.0,East,5764.0,533.0
34,2024-12-28,Electronics,0.0,Apple,0.0,South,5764.0,0.0
35,2024-04-20,Sports,763.0,Apple,3007.0,East,3007.0,763.0
36,2024-03-26,Clothing,917.0,Apple,0.0,South,5764.0,917.0
37,2024-07-20,Furniture,0.0,Football,0.0,North,5764.0,0.0
38,2024-11-11,Groceries,0.0,Laptop,5963.0,West,5963.0,0.0
39,2024-01-30,Sports,699.0,Apple,0.0,East,5764.0,699.0
40,2024-07-15,Clothing,982.0,Shirt,2715.0,South,2715.0,982.0
41,2024-03-27,Clothing,0.0,Football,9874.0,West,9874.0,0.0
42,2024-04-01,Clothing,0.0,Sofa,4313.0,South,4313.0,0.0
43,2024-12-13,Furniture,0.0,Apple,2315.0,East,2315.0,0.0
44,2024-07-06,Sports,0.0,Apple,6348.0,North,6348.0,0.0
45,2024-01-19,Furniture,0.0,Football,9893.0,South,9893.0,0.0
46,2024-09-22,Electronics,580.0,Laptop,0.0,East,5764.0,580.0
47,2024-05-18,Electronics,571.0,Shirt,8830.0,South,8830.0,571.0
48,2024-07-29,Sports,0.0,Laptop,7773.0,East,7773.0,0.0
49,2024-10-17,Electronics,374.0,Shirt,0.0,North,5764.0,374.0

In [27]:
## Change datatypes

df_filled['Value_new'] = df_filled['Values'].fillna(df_filled['Values'].mean()).astype(int)
df_filled.head(5)

,Date,Category,Values,Product,Sales,Region,Sales_fillna,Value_new
0,2024-03-26,Groceries,777.0,Shirt,4538.0,North,4538.0,777
1,2024-09-09,Sports,76.0,Sofa,0.0,West,5764.0,76
2,2024-07-18,Clothing,22.0,Apple,6787.0,South,6787.0,22
3,2024-12-20,Electronics,0.0,Laptop,0.0,West,5764.0,0
4,2024-09-19,Clothing,649.0,Apple,0.0,North,5764.0,649

In [31]:
df_filled =df_filled.fillna(df_filled['Values'].mean())
df_filled.dtypes

Date             object
Category         object
Values          float64
Product          object
Sales           float64
Region           object
Sales_fillna    float64
Value_new         int32
dtype: object

In [40]:
df_filled['Value_new'] = df_filled['Value_new'].apply(lambda x: 200 if x == 0.0 else x)
df_filled

,Date,Category,Values,Product,Sales,Region,Sales_fillna,Value_new,value_new
0,2024-03-26,Groceries,777.0,Shirt,4538.0,North,4538.0,777,777
1,2024-09-09,Sports,76.0,Sofa,0.0,West,5764.0,76,76
2,2024-07-18,Clothing,22.0,Apple,6787.0,South,6787.0,22,22
3,2024-12-20,Electronics,0.0,Laptop,0.0,West,5764.0,200,200
4,2024-09-19,Clothing,649.0,Apple,0.0,North,5764.0,649,649
5,2024-04-16,Sports,953.0,Sofa,0.0,North,5764.0,953,953
6,2024-03-05,Electronics,580.0,Sofa,0.0,South,5764.0,580,580
7,2024-03-14,Furniture,0.0,Shirt,0.0,South,5764.0,200,200
8,2024-03-29,Furniture,0.0,Football,744.0,East,744.0,200,200
9,2024-03-24,Clothing,0.0,Shirt,7450.0,East,7450.0,200,200
10,2024-12-21,Clothing,0.0,Football,7821.0,North,7821.0,200,200
11,2024-04-30,Electronics,0.0,Football,3766.0,East,3766.0,200,200
12,2024-06-02,Groceries,10.0,Sofa,0.0,North,5764.0,10,10
13,2024-04-25,Groceries,0.0,Apple,0.0,West,5764.0,200,200
14,2024-04-08,Groceries,0.0,Laptop,2333.0,East,2333.0,200,200
15,2024-12-13,Clothing,144.0,Laptop,1111.0,East,1111.0,144,144
16,2024-03-22,Groceries,853.0,Football,6643.0,North,6643.0,853,853
17,2024-07-27,Furniture,430.0,Apple,0.0,West,5764.0,430,430
18,2024-04-09,Sports,0.0,Shirt,0.0,South,5764.0,200,200
19,2024-01-05,Furniture,250.0,Laptop,0.0,East,5764.0,250,250
20,2024-05-17,Electronics,41.0,Sofa,0.0,West,5764.0,41,41
21,2024-01-05,Groceries,0.0,Shirt,0.0,South,5764.0,200,200
22,2024-03-15,Furniture,0.0,Sofa,0.0,South,5764.0,200,200
23,2024-04-24,Furniture,995.0,Sofa,8856.0,East,8856.0,995,995
24,2024-06-21,Sports,0.0,Laptop,8922.0,North,8922.0,200,200
25,2024-09-20,Clothing,0.0,Laptop,0.0,South,5764.0,200,200
26,2024-04-22,Groceries,620.0,Football,7882.0,South,7882.0,620,620
27,2024-08-25,Sports,847.0,Laptop,0.0,East,5764.0,847,847
28,2024-07-13,Clothing,0.0,Sofa,8934.0,East,8934.0,200,200
29,2024-11-02,Electronics,993.0,Laptop,1054.0,East,1054.0,993,993
30,2024-12-27,Sports,145.0,Shirt,0.0,South,5764.0,145,145
31,2024-08-13,Electronics,453.0,Laptop,6228.0,South,6228.0,453,453
32,2024-10-17,Clothing,0.0,Apple,0.0,South,5764.0,200,200
33,2024-01-25,Sports,533.0,Football,0.0,East,5764.0,533,533
34,2024-12-28,Electronics,0.0,Apple,0.0,South,5764.0,200,200
35,2024-04-20,Sports,763.0,Apple,3007.0,East,3007.0,763,763
36,2024-03-26,Clothing,917.0,Apple,0.0,South,5764.0,917,917
37,2024-07-20,Furniture,0.0,Football,0.0,North,5764.0,200,200
38,2024-11-11,Groceries,0.0,Laptop,5963.0,West,5963.0,200,200
39,2024-01-30,Sports,699.0,Apple,0.0,East,5764.0,699,699
40,2024-07-15,Clothing,982.0,Shirt,2715.0,South,2715.0,982,982
41,2024-03-27,Clothing,0.0,Football,9874.0,West,9874.0,200,200
42,2024-04-01,Clothing,0.0,Sofa,4313.0,South,4313.0,200,200
43,2024-12-13,Furniture,0.0,Apple,2315.0,East,2315.0,200,200
44,2024-07-06,Sports,0.0,Apple,6348.0,North,6348.0,200,200
45,2024-01-19,Furniture,0.0,Football,9893.0,South,9893.0,200,200
46,2024-09-22,Electronics,580.0,Laptop,0.0,East,5764.0,580,580
47,2024-05-18,Electronics,571.0,Shirt,8830.0,South,8830.0,571,571
48,2024-07-29,Sports,0.0,Laptop,7773.0,East,7773.0,200,200
49,2024-10-17,Electronics,374.0,Shirt,0.0,North,5764.0,374,374

In [42]:
## Data Aggregating and grouping 
df_filled.head()

,Date,Category,Values,Product,Sales,Region,Sales_fillna,Value_new,value_new
0,2024-03-26,Groceries,777.0,Shirt,4538.0,North,4538.0,777,777
1,2024-09-09,Sports,76.0,Sofa,0.0,West,5764.0,76,76
2,2024-07-18,Clothing,22.0,Apple,6787.0,South,6787.0,22,22
3,2024-12-20,Electronics,0.0,Laptop,0.0,West,5764.0,200,200
4,2024-09-19,Clothing,649.0,Apple,0.0,North,5764.0,649,649

In [47]:
group_mean = df_filled.groupby('Product')['Sales'].mean()
print(group_mean)

Product
Apple       1677.909091
Football    5180.333333
Laptop      2782.000000
Shirt       2614.777778
Sofa        2455.888889
Name: Sales, dtype: float64

In [52]:
group_sum = df_filled.groupby(['Category','Product'])['Sales_fillna'].sum()
print(group_sum)

Category     Product
Clothing     Apple       24079.0
             Football    17695.0
             Laptop       6875.0
             Shirt       10165.0
             Sofa        13247.0
Electronics  Apple        5764.0
             Football     3766.0
             Laptop      18810.0
             Shirt       14594.0
             Sofa        11528.0
Furniture    Apple        8079.0
             Football    16401.0
             Laptop       5764.0
             Shirt        5764.0
             Sofa        14620.0
Groceries    Apple        5764.0
             Football    14525.0
             Laptop       8296.0
             Shirt       10302.0
             Sofa         5764.0
Sports       Apple       15119.0
             Football     5764.0
             Laptop      22459.0
             Shirt       11528.0
             Sofa        11528.0
Name: Sales_fillna, dtype: float64

In [54]:
## Using multiple Aggregrate function
group_agg = df_filled.groupby(['Category','Product'])['Sales_fillna'].agg(['mean','sum','count'])
group_agg

                             mean      sum  count
Category    Product
Clothing    Apple     6019.750000  24079.0      4
            Football  8847.500000  17695.0      2
            Laptop    3437.500000   6875.0      2
            Shirt     5082.500000  10165.0      2
            Sofa      6623.500000  13247.0      2
Electronics Apple     5764.000000   5764.0      1
            Football  3766.000000   3766.0      1
            Laptop    4702.500000  18810.0      4
            Shirt     7297.000000  14594.0      2
            Sofa      5764.000000  11528.0      2
Furniture   Apple     4039.500000   8079.0      2
            Football  5467.000000  16401.0      3
            Laptop    5764.000000   5764.0      1
            Shirt     5764.000000   5764.0      1
            Sofa      7310.000000  14620.0      2
Groceries   Apple     5764.000000   5764.0      1
            Football  7262.500000  14525.0      2
            Laptop    4148.000000   8296.0      2
            Shirt     5151.000000  10302.0      2
            Sofa      5764.000000   5764.0      1
Sports      Apple     5039.666667  15119.0      3
            Football  5764.000000   5764.0      1
            Laptop    7486.333333  22459.0      3
            Shirt     5764.000000  11528.0      2
            Sofa      5764.000000  11528.0      2

In [55]:
## Merging and joining DataFrames
# Create sample DataFrame

df1 = pd.DataFrame({'key':['A','B','C'],'Values1':[1,2,3]})
df2 = pd.DataFrame({'key':['A','B','D'],'Values2':[4,5,6]})

In [56]:
df1

  key  Values1
0   A        1
1   B        2
2   C        3

In [57]:
df2

  key  Values2
0   A        4
1   B        5
2   D        6

In [63]:
## Merge DataFrame on the 'Key Columns' 
pd.merge(df1,df2,on="key",how="inner")

  key  Values1  Values2
0   A        1        4
1   B        2        5

In [64]:
pd.merge(df1,df2,on="key",how="outer")

  key  Values1  Values2
0   A      1.0      4.0
1   B      2.0      5.0
2   C      3.0      NaN
3   D      NaN      6.0

In [ ]:
pd.merge(df1,df2,on="key",how="left") # Left join

  key  Values1  Values2
0   A        1      4.0
1   B        2      5.0
2   C        3      NaN

In [ ]:
pd.merge(df1,df2,on="key",how="right") # Right join