## Handling Imbalanced Dataset

1. Up Sampling
2. Down Sampling

In [2]:
## Creating sample dataset

import numpy as np 
import pandas as pd 

# set the seed for reproducibility 
np.random.seed(123)

# create a sample dataframe with 2 class

n_samples = 1000 
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [3]:
n_class_0,n_class_1

(900, 100)

In [4]:
## Create my dataframe with imbalanced dataset

class_0 = pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0] * n_class_0

})


class_1 = pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1] * n_class_1

})

In [6]:
class_0  ## excle sheet dictionary with key,values

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
895   0.238761  -0.003155       0
896  -1.106386  -0.430660       0
897   0.366732  -0.146416       0
898   1.023906   1.160176       0
899  -0.210056  -0.641512       0

[900 rows x 3 columns]

In [7]:
class_1

    feature_1  feature_2  target
0   -0.300232   0.139033       1
1   -0.632261   0.025577       1
2   -0.204317  -0.196443       1
3    0.213696   1.312255       1
4    1.033878   1.187417       1
..        ...        ...     ...
95  -0.623629   0.845701       1
96   0.239810  -1.119923       1
97  -0.868240  -0.359297       1
98   0.902006  -1.609695       1
99   0.697490   0.013570       1

[100 rows x 3 columns]

1. upsampling

In [12]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)
df

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995  -0.623629   0.845701       1
996   0.239810  -1.119923       1
997  -0.868240  -0.359297       1
998   0.902006  -1.609695       1
999   0.697490   0.013570       1

[1000 rows x 3 columns]

In [16]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [17]:
df_minority=df[df['target']==1]
df_majority = df[df['target']==0]

In [19]:
df_majority

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
895   0.238761  -0.003155       0
896  -1.106386  -0.430660       0
897   0.366732  -0.146416       0
898   1.023906   1.160176       0
899  -0.210056  -0.641512       0

[900 rows x 3 columns]

In [21]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True,
         n_samples=len(df_majority),
         random_state=42)

In [ ]:
df_minority_upsampled.shape

(900, 3)

In [25]:
df_upsampled = pd.concat([df_minority_upsampled,df_majority])
df_upsampled

     feature_1  feature_2  target
951  -0.874146  -0.156083       1
992   0.196570  -0.602575       1
914  -0.067830   0.998053       1
971   0.272825   1.034197       1
960   0.870056  -0.449515       1
..         ...        ...     ...
895   0.238761  -0.003155       0
896  -1.106386  -0.430660       0
897   0.366732  -0.146416       0
898   1.023906   1.160176       0
899  -0.210056  -0.641512       0

[1800 rows x 3 columns]

In [27]:
df_upsampled['target'].value_counts()

target
1    900
0    900
Name: count, dtype: int64

2. Down Sampling

In [28]:
df_minority

     feature_1  feature_2  target
900  -0.300232   0.139033       1
901  -0.632261   0.025577       1
902  -0.204317  -0.196443       1
903   0.213696   1.312255       1
904   1.033878   1.187417       1
..         ...        ...     ...
995  -0.623629   0.845701       1
996   0.239810  -1.119923       1
997  -0.868240  -0.359297       1
998   0.902006  -1.609695       1
999   0.697490   0.013570       1

[100 rows x 3 columns]

In [31]:
## Resample imbalanced dataset to downsampling

from sklearn.utils import resample
df_majority_downsample = resample(df_majority,replace=True,
                                  n_samples=len(df_minority),
                                  random_state=42)
df_majority_downsample

     feature_1  feature_2  target
102   0.712265   0.718151       0
435   1.199988   0.574621       0
860   0.304515  -0.759475       0
270  -1.213385   0.675504       0
106   0.179549  -0.202659       0
..         ...        ...     ...
201  -0.598105   1.575650       0
269   0.420180   0.570631       0
862  -0.392309   0.446491       0
815  -0.148405  -0.457929       0
270  -1.213385   0.675504       0

[100 rows x 3 columns]

In [39]:
## concating downsample 
df_downsample = pd.concat([df_minority,df_majority_downsample])
df_downsample['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64